@import '~bootstrap/scss/bootstrap';


.projects {
    margin: 4rem 0;

}

.pagination {
    margin-top: 5rem;
}

.page-link {
    color: #656565;
}

.page-link.active,
.active>.page-link {
    background-color: #EF3B2D;
    border-color: #EF3B2D;
}